<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>ReserveSeat</display-name>

	<!-- Dispatcher Servlet 설정 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>kr.ac.kopo.framework.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>propName</param-name>
			<param-value>bean.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- OAuthCallback 서블릿 설정 -->
	<servlet>
		<servlet-name>RegisterCallback</servlet-name>
		<servlet-class>kr.ac.kopo.framework.RegisterCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCallback</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>


	<!-- Welcome 파일 리스트 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- JSP EL 처리 (필요 시 활성화) -->
	<!-- <jsp-config> <el-ignored>false</el-ignored> </jsp-config> -->
</web-app>