<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="class">
	<select id="getClassDetails" parameterType="map"
		resultType="kr.ac.kopo.vo.ClassVO">
		SELECT
		seat_no AS seatNo,
		class_no AS classNo,
		reg_time AS
		regTime,
		seat_row AS seatRow,
		seat_col AS seatCol,
		seat_key AS seatKey,
		is_empty AS isEmpty,
		class_type AS classType
		FROM rs_class
		WHERE class_no = #{classNo, jdbcType=VARCHAR}
		AND reg_time = #{regTime, jdbcType=VARCHAR}
	</select>

	<update id="reserveSeat" parameterType="map">
		UPDATE rs_class
		SET is_empty = 'N',
		reserved_by = #{reservedBy}
		WHERE seat_key = #{seatKey} AND is_empty = 'Y' AND
		class_no = #{classNo}
		AND reg_time = #{regTime}
	</update>

	<!-- 특정 좌석 정보 가져오기 -->
	<select id="selectSeat" parameterType="map"
		resultType="kr.ac.kopo.vo.ClassVO">
		SELECT seat_no AS seatNo, class_no AS classNo, reg_time AS regTime,
		seat_row AS seatRow, seat_col AS seatCol, seat_key AS seatKey,
		is_empty AS isEmpty, class_type AS classType
		FROM rs_class
		WHERE seat_key = #{seatKey, jdbcType=VARCHAR}
		AND class_no = #{classNo, jdbcType=VARCHAR}
		AND reg_time = #{regTime, jdbcType=VARCHAR}
	</select>
	
	 <select id="getReservedSeats" parameterType="string" resultType="kr.ac.kopo.vo.ClassVO">
        SELECT 
            seat_no AS seatNo,
            class_no AS classNo,
            reg_time AS regTime,
            seat_row AS seatRow,
            seat_col AS seatCol,
            is_empty AS isEmpty,
            class_type AS classType
        FROM rs_class
        WHERE reserved_by = #{userId, jdbcType=VARCHAR}
    </select>
</mapper>


